<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
</head>
<body>
  <div id="abme">
    <span id="tit" class="tit">{{ title }}</span>
    <span id="inf" class="tit">{{ info }}</span>
    <span id="gStr" class="tit">{{ gStrengths }}</span>
  </div>
  <hr>
  <div>
    <span id="tL">Tech List :</span>
    <table>
      <tr *ngFor="let tr of techtr">
        <td>{{ tr.a }}</td>
        <td>{{ tr.b }}</td>
        <td>{{ tr.c }}</td>
        <td>{{ tr.d }}</td>
        <td>{{ tr.e }}</td>
        <td>{{ tr.f }}</td>
      </tr>
    </table>
  </div>
</body>
<div id="workh">
  <app-workh></app-workh>
</div>
<div id="educ">
  <app-educ></app-educ>
</div>
</html>